body, html {
    height: 100%;
    font-family: "Inconsolata", sans-serif;
  }
  
.container{
    max-width: 600px;
    margin: 10vh auto 0 auto;

}

.bgimg {
    background-position: center;
    background-size: cover;
    background-image: url("shelf.jpg");
    min-height: 85%;
 }

#display{
    text-align: center;
    height: 50px;
    line-height: 50px;
    padding: 16px 8px;
    font-size: 18px;
}

.buttons{
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    cursor: pointer;
    max-width: 100px;
    margin: 10vh auto 0 auto;
}
